  
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Авиаперсонал - {{ title }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">
    <link rel="stylesheet" href="static/animate.css">

    <!-- Bootstrap core CSS -->

<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    
    <!-- Custom styles for this template -->
    <link href="static/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <img class="frfrfrfr" src="static/img/logo-fix.png">
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="autorization.html">
      <button type="button" class="btn btn-outline-success">Войти</button></a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ first_graf_link }}">
              <span data-feather="home"></span>
              Графики<span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="{{ second_graf_link }}">
              <span data-feather="file"></span>
              Сводная таблица
            </a>
          </li>
          
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Кнопки для Кирюхи</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <span data-feather="file-text"></span>
              Holt
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Winter_first">
              <span data-feather="file-text"></span>
              Holt-Winters
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Tbat_first">
              <span data-feather="file-text"></span>
             TBATS
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">График</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            
            <!-- Button trigger modal -->
<!-- Кнопка пуска модальное окно -->  
<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#myModal" role="dialog" >
  Поделиться
</button>

<!-- Модальное окно -->  
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        </button>
        <h4 class="modal-title" id="myModal">Выберите соц.сеть</h4>
      </div>
      <div class="modal-body">
        <a class="vkontakt" href="https://vk.com/futecky_kun">
       <img  id="vkontakt" src="vk.png"></a>
       <a class="vkontakt" href="https://github.com">
       <img  id="vkontakt" src="github.png"></a>
       <a class="vkontakt" href="https://gitlab.com">
       <img  id="vkontakt" src="stck.png"></a>
       <a class="vkontakt" href="https://stackoverflow.com">
       <img  id="vkontakt" src="34.png"></a>
       <a class="vkontakt" href="https://trello.com">
       <img  id="vkontakt" src="trello.png"></a>
        <a class="vkontakt" href="https://slack.com">
       <img  id="vkontakt" src="slack.png"></a>
       <a class="vkontakt" href="https://twitter.com">
       <img  id="vkontakt" src="twitter.png"></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary">Выбрать</button>
      </div>
    </div>
  </div>
</div>
            
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
         
        </div>
      </div>
<div class="container23">
  
      <div id="content">

    <!-- canas -->
    <div id="paint"></div>

    <!-- text -->
    <div id="wrapper">
      <div class="flex">

        <div id="controls">
          <button class="one" style="display: none;">Business class</button>
          <button class="two" style="display: none;">Ahead of wing</button>
          <button class="three" style="display: none;">Over the wing</button>
          <button class="four" style="display: none;">Rear cabin</button>
          <label class="btn btn-outline-dark" style="margin-top: 4px; display: none;" >360 view  <input type="checkbox" id="myCheck" checked></label>
        </div> 

      </div>
    </div>

  </div>

      <h1 class="h23">Таблица</h1>
      <div class="table-responsive wow slideInLeft">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2011</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
            <tr>
              <td>2012</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>2013</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>2014</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
            <tr>
              <td>2015</td>
              <td>dapibus</td>
              <td>diam</td>
              <td>Sed</td>
              <td>nisi</td>
            </tr>
            <tr>
              <td>2016</td>
              <td>Nulla</td>
              <td>quis</td>
              <td>sem</td>
              <td>at</td>
            </tr>
            <tr>
              <td>2017</td>
              <td>nibh</td>
              <td>elementum</td>
              <td>imperdiet</td>
              <td>Duis</td>
            </tr>
            <tr>
              <td>2018</td>
              <td>sagittis</td>
              <td>ipsum</td>
              <td>Praesent</td>
              <td>mauris</td>
            </tr>
            <tr>
              <td>2019</td>
              <td>Fusce</td>
              <td>nec</td>
              <td>tellus</td>
              <td>sed</td>
            </tr>
            <tr>
              <td>2020</td>
              <td>augue</td>
              <td>semper</td>
              <td>porta</td>
              <td>Mauris</td>
            </tr>
            <tr>
              <td>2021</td>
              <td>massa</td>
              <td>Vestibulum</td>
              <td>lacinia</td>
              <td>arcu</td>
            </tr>
            <tr>
              <td>2022</td>
              <td>eget</td>
              <td>nulla</td>
              <td>Class</td>
              <td>aptent</td>
            </tr>
            <tr>
              <td>2023</td>
              <td>taciti</td>
              <td>sociosqu</td>
              <td>ad</td>
              <td>litora</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    
  </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
           <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="static/js/dashboard.js"></script></body>
        <script src="static/js/text.js"></script>

        <script src="https://getbootstrap.com/docs/4.3/assets/js/docs.min.js"></script>
        <script src="static/js/lol.js"></script>
        <script src="static/js/wow.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

              <script>
              new WOW().init();
              </script>
<canvas id="number" width="100%" height="100%" style="display: none;" ></canvas>
  <canvas id="number2" width="100%" height="100%" style="display: none;"></canvas>
  <canvas id="number3" width="100%" height="100%" style="display: none;"></canvas>
  <canvas id="number4" width="100%" height="100%" style="display: none;"></canvas>


  <script src="https://threejs.org/build/three.min.js"></script>
  <script src='https://threejs.org/examples/js/controls/OrbitControls.js'></script>
  <script src="https://threejs.org/examples/js/loaders/deprecated/LegacyJSONLoader.js"></script>
  <script src="https://threejs.org/examples/js/controls/DeviceOrientationControls.js"></script>
  <script src="https://threejs.org/examples/js/effects/StereoEffect.js"></script>
  <script src="https://threejs.org/examples/js/libs/tween.min.js"></script>
    <!-- /Start your project here-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  

    <script type="text/javascript">
       //===================================================== canvas
    var container = document.getElementById('paint');
    var renderer = new THREE.WebGLRenderer();
    container.appendChild(renderer.domElement);
    renderer.setSize(container.getBoundingClientRect().width, container.getBoundingClientRect().height);
    renderer.setClearColor(0xFFFFFF, 1);



    //===================================================== camera
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(45, container.getBoundingClientRect().width / container.getBoundingClientRect().height, 1, 10000);



    //===================================================== resize
    window.addEventListener("resize", function() {
      let width = container.getBoundingClientRect().width;
      let height = container.getBoundingClientRect().height;
      renderer.setSize(width, height);
      camera.aspect = width / height;
      camera.updateProjectionMatrix();
    });


    //===================================================== camera
   


    //===================================================== controls
    var controls = new THREE.OrbitControls(camera, renderer.domElement);
    controls.enableDamping = true;
    controls.dampingFactor = 0.25;
    controls.enableZoom = true;
    controls.maxPolarAngle = Math.PI / 2.1;



    //===================================================== add Light
    var light = new THREE.DirectionalLight(new THREE.Color("black"), 50.5);
    light.position.set(1, 1, 1).normalize();
    scene.add(light);

    var light = new THREE.DirectionalLight(new THREE.Color("black"), 50.5);
    light.position.set(-1, -1, -1).normalize();
    scene.add(light);


    //===================================================== add blue light on the seats
    var light = new THREE.DirectionalLight(new THREE.Color("black"), 1.5);
    light.position.set(0, 200, 100);
    light.castShadow = true;
    light.shadow.camera.top = 280;
    light.shadow.camera.bottom = -200;
    light.shadow.camera.left = -200;
    light.shadow.camera.right = 200;
    scene.add(light);




    //==================================================== Add obj
    loader = new THREE.LegacyJSONLoader();
    loader.load('https://raw.githubusercontent.com/baronwatts/models/master/airplane2.js', function(geometry, materials) {

      var matt = new THREE.MeshPhongMaterial({
        vertexColors: THREE.FaceColors,
        side: THREE.DoubleSide,
        wireframe: false,
        transparent: true,
        opacity: 0.4
      });
      var obj = new THREE.Mesh(geometry, matt);
      obj.scale.set(.5, .5, .5);
      obj.rotateY(-Math.PI);
      obj.receiveShadow = true;
      obj.castShadow = true;
      scene.add(obj);

    });


    //===================================================== seating rows
    var row = new THREE.Group();
    row.rotateY(Math.PI);
    row.position.y = 5;
    row.position.z = -3.75;
    row.translateX(20);
    scene.add(row);


    loader = new THREE.LegacyJSONLoader();
    loader.load('https://raw.githubusercontent.com/baronwatts/models/master/seats.js', function(geometry, materials) {

      var matt = new THREE.MeshLambertMaterial({
        vertexColors: THREE.FaceColors,
        color: new THREE.Color('#888'),
        side: THREE.DoubleSide
      });

      for (var i = 0; i < 30; i++) {
        for (var j = 0; j < 2; j++) {

          var obj2 = new THREE.Mesh(geometry, matt);
          obj2.scale.set(3, 3, 3);
          obj2.rotateY(Math.PI / 2);
          obj2.position.z = -3 * j;
          obj2.position.x = -1.25 * i;
          obj2.receiveShadow = true;
          obj2.castShadow = true;
          row.add(obj2);

        }
      }

    });






    //===================================================== Circle path for the camera
    var segmentCount = 10;
    var radius = 35;
    var xyzArray = new Array(segmentCount)
      .fill(null)
      .map(
        (d, i) =>
        new THREE.Vector3(
          /*x*/
          Math.cos(i / segmentCount * Math.PI * 2) * radius,
          /*y*/
          5,
          /*z*/
          Math.sin(i / segmentCount * Math.PI * 2) * radius
        )
      );

    var curve = new THREE.CatmullRomCurve3(xyzArray);
    curve.closed = true;
    var g2 = new THREE.Geometry();
    g2.vertices = curve.getPoints(50);
    var m2 = new THREE.LineBasicMaterial({
      color: new THREE.Color("white")
    });
    var curveObject = new THREE.Line(g2, m2);
    //scene.add(curveObject);



   

    function zoom(x, y, z) {
      var from = {
        x: camera.position.x,
        y: camera.position.y,
        z: camera.position.z
      };
      var to = {
        x: x,
        y: y,
        z: z
      };
      var tween = new TWEEN.Tween(from)
        .to(to, 900)
        .easing(TWEEN.Easing.Quadratic.Out)
        .onUpdate(function() {
          camera.position.set(this.x, this.y, this.z);
          camera.lookAt(new THREE.Vector3(0, 0, 0));
        })
        .onComplete(function() {
          camera.lookAt(new THREE.Vector3(0, 0, 0));
        })
        .start();
    };




    //===================================================== animate

    spline = curve;
    camPosIndex = -1;
    clock = new THREE.Clock();

    function animate() {

      TWEEN.update();

      camPosIndex++;
      if (camPosIndex > 1000) {
        camPosIndex = 0;
      }


      let camPos = spline.getPoint(camPosIndex / 1000); //move camera x,y,z
      let camRot = spline.getTangent(camPosIndex / 1000); //rotates camera x,y,z


      //move camera on path
      if (document.getElementById("myCheck").checked == true) {
        camera.position.set(camPos.x, camPos.y, camPos.z + 5);
        camera.lookAt(new THREE.Vector3(0, 0, 0));
      } else {
        camera.position.set(camera.position.x, camera.position.y, camera.position.z);
        camera.lookAt(new THREE.Vector3(0, 0, 0));
      }


      renderer.render(scene, camera);
      requestAnimationFrame(animate);

    }

    animate();
    zoom(1, 10, 40);
    </script>

</body>

</html>
